.article{
  // width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;


  &-content{
    background: #fff;
    border-radius: 15px;
    padding:35px;
    
    &-title{
        font-weight: 700;
        font-size: 35px;
        color: #000;
        width: 70%;
        text-align: left;
        margin-bottom: 20px;
    }
    &-text{
        font-weight: 400;
        font-size: 18px;
        color: #000;
        text-align: left;
        letter-spacing: 2px;
        width: 95%;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 25px;
        
    }
    
    &-image{
        position: relative !important;
        width: 100% !important;
        height: 450px !important;
        overflow: hidden;
        border-radius: 15px;
    }
    &-iframe{
        width: 100%;
        height: 500px;
    }
  }
  

}